
.post{
	padding: 0px;
	margin: 0px;
}

.post-title{
	margin-top: 0px;
}

.headings--one-size h1:not(first-child), .headings--one-size h2:not(first-child), .headings--one-size h3:not(first-child), .headings--one-size h4:not(first-child), .headings--one-size h5:not(first-child), .headings--one-size h6:not(first-child) {
    margin-top: 0px;
}
/*
.post-title{
	border-bottom: 0px;

}

.post-title::after{
	border-bottom: 0px;

}
*/